<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="database.properties"/>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--<typeAliases>-->
    <!--<package name="com.mybatis.pojo"/>-->
    <!--</typeAliases>-->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <!--支持三种类型 UNPOOLED  POOLED  JNDI-->
            <dataSource type="POOLED">
                <!--数据库连接的四项基本属性-->
                <property name="url" value="${url}"/>
                <property name="driver" value="${driver}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="dao/UserMapper.xml"></mapper>
        <mapper resource="dao/ProviderMapper.xml"></mapper>
        <mapper resource="dao/RoleMapper.xml"></mapper>
    </mappers>
</configuration>
