<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AccountMapper">

    <!--查询是否有此卡号-->
    <select id="queryCardNoInfo" resultType="int">
          SELECT COUNT(1) FROM `account` WHERE cardNo=#{cardNo}
    </select>

    <!--判断卡号跟密码是否正确-->
    <select id="queryCardNoPassword" resultType="int">
          SELECT COUNT(1) FROM `account` WHERE cardNo=#{cardNo} AND `password`=#{password}
    </select>

    <!--判断是否是正常账户-->
    <select id="queryCardNoPasswordStatus" resultType="int">
          SELECT COUNT(1) FROM `account` WHERE cardNo=#{cardNo} AND `password`=#{password} AND `status`=#{status}
    </select>

    <!--根据卡号查询账户信息-->
    <select id="queryCardNoAccountInfo" resultType="com.pojo.Account">
        SELECT `id`,`cardNo`,`password`,`balance`,`status` FROM `account` WHERE `cardNo`=#{cardNo}
    </select>

    <!--账户转入-->
    <update id="UpdateInputEnter">
        UPDATE account SET balance=balance+#{balance} WHERE cardNo=#{cardNo}
    </update>

    <!--账户转出-->
    <update id="UpdateInputOut">
        UPDATE account SET balance=balance-#{balance} WHERE cardNo=#{cardNo}
    </update>

    <!--根据卡号修改密码-->
    <update id="updateCardNoPassword">
        UPDATE account SET `password`=#{password} WHERE cardNo=#{cardNo}
    </update>

</mapper>