<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.smbms.dao.user.UserMapper">

    <!--用户登入-->
    <select id="loginUser" resultType="cn.smbms.pojo.User">
          SELECT * FROM smbms_user WHERE userCode=#{userCode} AND userPassword=#{userPassword}
    </select>

    <!--获取用户表总记录数-->
    <select id="getUserCounts" resultType="int">
        SELECT COUNT(1) AS COUNT FROM smbms_user u,smbms_role r WHERE u.userRole = r.id
    </select>

    <!--查询用户列表-->
    <resultMap id="queryInfoUser" type="cn.smbms.pojo.User">
        <id property="id" column="id" />
        <result property="userCode" column="userCode" />
        <result property="userName" column="userName" />
        <result property="gender" column="gender" />
        <result property="birthday" column="birthday" />
        <result property="phone" column="phone" />
        <result property="userRole" column="userRole" />
        <result property="userRoleName" column="userRoleName" />
    </resultMap>
    <select id="getUserListInfo" resultMap="queryInfoUser">
        SELECT u.*,r.roleName AS userRoleName FROM smbms_user u,smbms_role r
        WHERE u.userRole = r.id LIMIT #{currentPageNo},#{pageSize}
    </select>

</mapper>